@{
    ViewData["Title"] = "Products";
}
@model ProductsListViewModel



<div class="row m-1 p-1">
    <div class="col-3">
        <h3>Filters</h3>
        <form method="post" asp-action="ChangePageSize">
            Page Size:
            <select name="pageSize" onchange="this.form.submit()">
                <!option value="9" @(Model.PaginationInfo.ItemsPerPage == 9 ? "selected" : "")>5</!option>
                <!option value="5" @(Model.PaginationInfo.ItemsPerPage == 5 ? "selected" : "")>5</!option>
                <!option value="10" @(Model.PaginationInfo.ItemsPerPage == 10 ? "selected" : "")>10</!option>
                <!option value="20" @(Model.PaginationInfo.ItemsPerPage == 20 ? "selected" : "")>20</!option>

            </select>
        </form>
        <br/>
        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="BrowseProducts" asp-route-category="" asp-route-color="" asp-route-pageNum="">Clear Filters</a>

        <br /><br />
        <p>Categories:</p>
        <vc:categories/>
        <br />
        <p>Colors:</p>
        <vc:colors/>
    </div>
    <div class="container col-9">
        
        <main role="main" class="pb-3">

            <div class="row">
                @foreach (var p in Model.Products)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <a asp-controller="Home" asp-action="SingleProduct" asp-route-productId="@p.ProductId">
                                <img src="@p.ImgLink" alt="@p.ProductName" class="card-img-top" loading="lazy">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">@p.ProductName</h5>
                                <br />
                                <a class="btn btn-primary" asp-controller="Home" asp-action="SingleProduct" asp-route-productId="@p.ProductId">@p.Price.ToString("c")</a>
                            </div>
                        </div>
                    </div>
                }
            </div>


            <div page-model="@Model.PaginationInfo" page-action="BrowseProducts"
                 page-classes-enabled="true" page-class="btn"
                 page-class-normal="btn-outline-dark"
                 page-class-selected="btn-primary"
                 page-url-category="@Model.CurrentCategory"
                 page-url-color="@Model.CurrentColor"
                 class="btn btn-outline-secondary"></div>

        </main>
    </div>
</div>