@{
    ViewData["Title"] = "Products";
}
@model ProductsListViewModel

<h1 class="text-center">Products</h1>

<div class="row m-1 p-1">
    <div class="col-3">
        <h3>Filters</h3>
        <form method="post" asp-action="ChangePageSize">
            Page Size:
            <select name="pageSize" onchange="this.form.submit()">
                <!option value="9" @(Model.PaginationInfo.ItemsPerPage == 9 ? "selected" : "")>9</!option>
                <!option value="5" @(Model.PaginationInfo.ItemsPerPage == 5 ? "selected" : "")>5</!option>
                <!option value="10" @(Model.PaginationInfo.ItemsPerPage == 10 ? "selected" : "")>10</!option>
                <!option value="20" @(Model.PaginationInfo.ItemsPerPage == 20 ? "selected" : "")>20</!option>

            </select>
        </form>
        <br/>
        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="BrowseProducts" asp-route-category="" asp-route-color="" asp-route-pageNum="">Clear Filters</a>

        <br /><br />
        <p>Colors:</p>
        <vc:colors/>
        <br /><p>Categories:</p>
        <vc:categories/>
    </div>
    <div class="container col-9">
        <main role="main" class="pb-3">

            <div class="row">
                @foreach (var p in Model.Products)
                {
                    <div class="col-md-4">
                        <!-- Each product will take up 4 columns on medium-sized screens and larger -->
                        <a asp-controller="Home" asp-action="SingleProduct" asp-route-productId="@p.ProductId" class="card">
                            <img src="@p.ImgLink" alt="@p.ProductName" class="img-fluid" loading="lazy">
                            <p>@p.ProductName</p>
                        </a>
                    </div>
                }
            </div>

            <div page-model="@Model.PaginationInfo" page-action="BrowseProducts"
                 page-classes-enabled="true" page-class="btn"
                 page-class-normal="btn-outline-dark"
                 page-class-selected="btn-primary"
                 page-url-category="@Model.CurrentCategory"
                 page-url-color="@Model.CurrentColor"
                 class="btn btn-outline-secondary"></div>

        </main>
    </div>
</div>