@model Product

@{
    ViewData["Title"] = Model.ProductName;
}
<div class="row">
    <div class="col">
        <img src="@Model.ImgLink" alt="@Model.ProductName" />
    </div>
    <div class="col">
        <h2>@Model.ProductName</h2>
        <div>
            <h4>Description</h4>
            <p>@Model.ProductDescription</p>

        </div>
        <div>
            <p>Colors</p>
            <p>@Model.PrimaryColor</p>
            <p>@Model.SecondaryColor</p>
        </div>
        <div>
            <p>Year</p>
            <p>@Model.Year</p>
        </div>
        <div>
            <p>Parts</p>
            <p>@Model.NumParts</p>
        </div>
        <div>
            <a href="#" class="btn">Add to Cart</a>
            <p class="btn">@Model.Price.ToString("c")</p>
        </div>

    </div>
</div>