@model Product

@{
    ViewData["Title"] = Model.ProductName;
}
<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col">
                <img src="@Model.ImgLink" alt="@Model.ProductName" />
                <div class="details">
                    <div class="row">
                        <h4>Colors</h4>
                        <p>@Model.PrimaryColor, @Model.SecondaryColor</p>

                        <h4>Parts</h4>
                        <p>@Model.NumParts</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <h2>@Model.ProductName</h2>
                <h4>@Model.Year</h4>
                <br />
                <div>
                    <h4>Description</h4>
                    <p>@Model.ProductDescription</p>

                </div>

                <div>
                    <p class="btn">@Model.Price.ToString("c")</p>

                    <form id="@Model.ProductId" method="post" asp-page="/Cart">
                        <input type="hidden" asp-for="ProductId" />
                        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                        <button type="submit" class="btn-outline-primary btn-sm">Add to Cart</button>

                    </form>
                </div>

            </div>
        </div>
        
         <div class="row mt-5">
                     <div class="col">
                         <h3>Top Recommendations</h3>
                         <div class="row">
                             <vc:product-list products="@ViewBag.TopRecommendations"/>
                         </div>
                     </div>
         </div>
        
    </main>
</div>

