@model Order

@{
    ViewData["Title"] = "Review Order - " + Model.TransactionId;
}

<style>
  @* .button-holder {
  display: flex !important;
  justify-content: center;
  gap: 20px; /* Adjust the space between buttons */
} *@

</style>

<h1 class="text-center">Review Order</h1>


<div class="container">
    <h1>Order Details</h1>
    <table class="table table-bordered">
      <thead>
        <th scope="row">Transaction ID</th>
        <th scope="row">Customer ID</th>
        <th scope="row">Order Date</th>
        <th scope="row">Day of Week</th>
        <th scope="row">Time</th>
        <th scope="row">Entry Mode</th>
        <th scope="row">Amount</th>
        <th scope="row">Type of Transaction</th>
        <th scope="row">Country of Transaction</th>
        <th scope="row">Shipping Address</th>
        <th scope="row">Bank</th>
         <th scope="row">Type of Card</th>
      </thead>
        <tbody>
            <tr>    
                <td>@Model.TransactionId</td>    
                <td>@Model.CustomerId</td>
                <td>@Model.OrderDate.ToShortDateString()</td>
                <td>@Model.DayOfWeek</td>
                <td>@Model.Time</td>
                <td>@Model.EntryMode</td>
                <td>@Model.Amount</td>
                <td>@Model.TypeOfTransaction</td>          
                <td>@Model.CountryOfTransaction</td>    
                <td>@Model.ShippingAddress</td>
                <td>@Model.Bank</td>
                <td>@Model.TypeOfCard</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="text-center" class="button-holder">
  <div>
    <a class="btn btn-primary" asp-controller="Admin" asp-action="ReviewOrders">Back</a>
  </div>
  
  <div>
    <form asp-controller="Admin" asp-action="BlockOrder" method="post">
      <input type="hidden" asp-for="TransactionId" value="@Model.TransactionId">
      <input type="hidden" asp-for="CustomerId" value="@Model.CustomerId">
      <input type="hidden" asp-for="OrderDate" value="@Model.OrderDate">
      <input type="hidden" asp-for="DayOfWeek" value="@Model.DayOfWeek">
      <input type="hidden" asp-for="Time" value="@Model.Time">
      <input type="hidden" asp-for="EntryMode" value="@Model.EntryMode">
      <input type="hidden" asp-for="Amount" value="@Model.Amount">
      <input type="hidden" asp-for="TypeOfTransaction" value="@Model.TypeOfTransaction">
      <input type="hidden" asp-for="CountryOfTransaction" value="@Model.CountryOfTransaction">
      <input type="hidden" asp-for="ShippingAddress" value="@Model.ShippingAddress">
      <input type="hidden" asp-for="Bank" value="@Model.Bank">
      <input type="hidden" asp-for="TypeOfCard" value="@Model.TypeOfCard">

      <button type="submit" class="btn btn-danger">Block</button>
    </form>
  </div>

  <div>
    <form asp-controller="Admin" asp-action="ApproveOrder" method="post">
      <input type="hidden" asp-for="TransactionId" value="@Model.TransactionId">
      <input type="hidden" asp-for="CustomerId" value="@Model.CustomerId">
      <input type="hidden" asp-for="OrderDate" value="@Model.OrderDate">
      <input type="hidden" asp-for="DayOfWeek" value="@Model.DayOfWeek">
      <input type="hidden" asp-for="Time" value="@Model.Time">
      <input type="hidden" asp-for="EntryMode" value="@Model.EntryMode">
      <input type="hidden" asp-for="Amount" value="@Model.Amount">
      <input type="hidden" asp-for="TypeOfTransaction" value="@Model.TypeOfTransaction">
      <input type="hidden" asp-for="CountryOfTransaction" value="@Model.CountryOfTransaction">
      <input type="hidden" asp-for="ShippingAddress" value="@Model.ShippingAddress">
      <input type="hidden" asp-for="Bank" value="@Model.Bank">
      <input type="hidden" asp-for="TypeOfCard" value="@Model.TypeOfCard">
      <button type="submit" class="btn btn-success">Approve</button>
    </form>
  </div>
</div>

<style>
  @* .button-holder {
    display: inline-block !important;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    width: 100%;
  } *@
  @* .button-holder div {
      padding: 0 20px;
    } *@
</style>

