@model IQueryable<Order>

@{
    ViewData["Title"] = "Predictions";

    // var classTypeDict = new Dictionary<int, string>
    // {
    //     { 0, "Not Fraud" },
    //     { 1, "Fraud" }
    // };
}

<h1>Review Orders</h1>

<table>
    <thead>
    <th>Transaction ID</th>
    <th>Customer ID</th>
    <th>Order Date</th>
    <th>Day of Week</th>
    <th>Time</th>
    <th>Entry Mode</th>
    <th>Amount</th>
    <th>Transaction Type</th>
    <th>Country of Transaction</th>
    <th>Shipping Address</th>
    <th>Bank</th>
    <th>Card Type</th>
    <th>Fraud</th>
    <th>Fraud Prediction</th>
    </thead>
    <tbody>
    @foreach (var o in Model)
    {
        <tr>
            <td>@o.TransactionId</td>
            <td>@o.CustomerId</td>
                <td>@o.OrderDate.ToString("MM/dd/yyyy")</td>
            <td>@o.DayOfWeek</td>
            <td>@o.Time</td>
            <td>@o.EntryMode</td>
            <td>@o.Amount</td>
            <td>@o.TypeOfTransaction</td>
            <td>@o.CountryOfTransaction</td>
            <td>@o.ShippingAddress</td>
            <td>@o.Bank</td>
            <td>@o.TypeOfCard</td>
            <td>@o.Fraud</td>
            <td>@o.FraudFlag</td>
            <td><a asp-controller="Admin" asp-action="ReviewOrders" asp-route-id="@o.TransactionId">Review Order</a></td>         
        </tr>
    }
    </tbody>
</table>